<h1>Menus#index</h1>
<table>
  <thead>
    <tr>
        <td><b>Name</b></td>
        <td><b>Description</b></td>
        <td><b>Price</b></td>
    </tr>
  </thead>
  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.name %></td>
        <td><%= menu.description %></td>
        <td><%= menu.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<a href="/menus/new">New menu</a>
